  body {
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(218, 235, 250);
  }

  ul, .nav {
    background-color: rgb(192, 209, 255);
  }  

  ul, a, .nav-link active {
    color: rgb(40, 88, 219);
  }

  p {
    text-align: center;
    color: rgb(40, 88, 219);
  }

  h5, .card-title {
    text-align: center;
    color: rgb(24, 59, 155);
  }

  h6 {
    padding-left: 17px;
  }

  .card-body {
    background-color: rgb(215, 225, 252);
  }

  .wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: rgb(40, 88, 219);
  }

  .question{
    padding: 20px;
    font-size: 22px;
    border-radius: 20px;
  }

  .option {
    width: 225px;
    display: inline-block;
    vertical-align: middle;
    background: rgb(113, 143, 228); 
    margin: 10px 0 10px 30px;
    border-radius: 20px;
  }

  .option:hover {

    background:  rgb(40, 88, 219);
    color: rgb(215, 225, 252);
  }

  .card {
    margin: 50px auto;
    max-width: 1500px;
    border: 2px dashed rgb(91, 131, 241);
    background-color: rgb(215, 225, 252);
  }

  .btn {
    text-align: center;
    margin-left: 50px;
    background-color: rgb(91, 131, 241);
    border:2px solid rgb(91, 131, 241);
  }

  .form {
    text-align: center;
    margin: 10px;
    color: rgb(40, 88, 219);
  }
   
  .table {
    margin: 5px;
    color: rgb(40, 88, 219);
  }
   .card-text {
    color: rgb(40, 88, 219);

   }
  .next-btn {
     border: none;
     outline: none;
     background: rgb(113, 143, 228); 
     width: 100px;
     height: 50px;
     cursor: pointer;
     margin-left: 30%;
     margin-bottom: 5%;
     color: rgb(215, 225, 252);
     vertical-align: middle;
   }

   #nextButton:hover {
    background: rgb(62, 106, 226); 
    color: rgb(221, 225, 236);
  }

  .result {
   height: 100px;
   text-align: center;
   font-size: 50px;
  }

   #clear-all {
    color:  rgb(215, 225, 252); 
   }

   .option input:checked .option {
     background: rgb(215, 225, 252);
     color: black;
   }





  