  body {
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(218, 235, 250);
  }

  ul, .nav {
    background-color: rgb(192, 209, 255);
  }  

  ul, a, .nav-link active {
    color: rgb(40, 88, 219);
  }

  p {
    text-align: center;
    color: rgb(40, 88, 219);
  }

  h5, .card-title {
    text-align: center;
    color: rgb(24, 59, 155);
  }

  h6 {
    padding-left: 17px;
  }

  .card-body {
    background-color: rgb(215, 225, 252);
  }

  .wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .card {
    margin: 50px auto;
    max-width: 1000px;
    border: 2px dashed rgb(91, 131, 241);
  }

  .btn {
    text-align: center;
    margin-left: 50px;
    background-color: rgb(91, 131, 241);
    border:2px solid rgb(91, 131, 241);
  }

  .form {
    text-align: center;
    margin: 10px;
    color: rgb(40, 88, 219);
  }
   
  .table {
    margin: 5px;
    color: rgb(40, 88, 219);
  }


   ol, li {
     color: rgb(40, 88, 219);
  }

   #question {
    padding-left: 50px;
   }





  